<hr>
<h3>{{contact.name}} {{contact.family}} Details</h3>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="form-horizontal col-xs-12 col-sm-9 col-md-6 col-lg-4">
	<div class="form-group">
		<label class="control-label col-xs-3 hidden-xs" for="id">ID:</label>
		<div class="col-xs-12 col-sm-9">
			<input id="id" name="id" formControlName="id" disabled class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-3 hidden-xs" for="gender_M">Gender:</label>
		<div class="col-xs-12 col-sm-9 col_radio">
			<input class="col-xs-12 col-sm-9" id="gender_M" name="gender" formControlName="gender" type="radio" value="1" class="form-control"
				[checked]="contact.gender === 1">
			<label class="control-label col-xs-3 hidden-xs" for="gender_M">Male</label>

			<input class="col-xs-12 col-sm-9" id="gender_F" name="gender" formControlName="gender" type="radio" value="0" class="form-control" 
				[checked]="contact.gender === 0">
			<label class="control-label col-xs-3 hidden-xs" for="gender_F">Female</label>
			<div *ngIf="formErrors.gender" class="alert alert-danger">
				{{ formErrors.gender }}
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-3 hidden-xs" for="firstName">Name:</label>
		<div class="col-xs-12 col-sm-9">
			<input class="col-xs-12 col-sm-9" id="firstName" name="name" formControlName="name" placeholder="Name" class="form-control">
		</div>
		<div *ngIf="formErrors.name" class="alert alert-danger">
			{{ formErrors.name }}
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-3 hidden-xs" for="lastName">Family:</label>
		<div class="col-xs-12 col-sm-9">
			<input class="col-xs-12 col-sm-9" id="lastName" name="family" formControlName="family" placeholder="Family" class="form-control">
		</div>
		<div *ngIf="formErrors.family" class="alert alert-danger">
			{{ formErrors.family }}
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-3 hidden-xs" for="email">Email:</label>
		<div class="col-xs-12 col-sm-9">
			<input class="col-xs-12 col-sm-9" id="email" name="email" formControlName="email" placeholder="Email" class="form-control">
		</div>
		<div *ngIf="formErrors.email" class="alert alert-danger">
			{{ formErrors.email }}
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-3 hidden-xs" for="phone">Phone:</label>
		<div class="col-xs-12 col-sm-9">
			<input class="col-xs-12 col-sm-9" id="phone" name="phone" formControlName="phone" placeholder="Phone" class="form-control">
		</div>
		<div *ngIf="formErrors.phone" class="alert alert-danger">
			{{ formErrors.phone }}
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-xs-3 hidden-xs" for="address">Address:</label>
		<div class="col-xs-12 col-sm-9">
			<textarea class="col-xs-12 col-sm-9" id="address" name="address" formControlName="address" placeholder="Address" class="form-control"></textarea>
		</div>
		<div *ngIf="formErrors.address" class="alert alert-danger">
			{{ formErrors.address }}
		</div>
	</div>
	<button type="submit" class="btn btn-primary" 
			[disabled]="!contactForm.valid"
			>Submit</button>
	<button type="button" class="btn btn-danger" (click)="resetForm()">Reset</button>
  	<button type="button" class="btn btn-default" (click)="goBack()">Cancel</button>
</form>