<div class="contact-list row">
	<h2>All Contacts List</h2>

	<ul class="items contacts">
		<li *ngFor="let contact of contacts" class="contact" [class.selected]="contact === selectedContact" (click)="selectItem(contact)" [title]="contact.name+' '+contact.family">
			<span class="item-badge">{{contact.id}}</span>{{contact.name}} {{contact.family }}
			<span class="contact-icon" [ngSwitch]="contact.gender">
				<span *ngSwitchCase="CONTACT_MALE"><img [src]="contactMaleImage"></span>
				<span *ngSwitchCase="CONTACT_FEMALE"><img [src]="contactFemaleImage"></span>
				<span *ngSwitchDefault>Other</span>
			</span>
		</li>
	</ul>
</div>